.footerContainer{
    background-color: #CDA07B;
    width: 100vw;
    margin-left: -27.5vw;
    margin-top: 6em;
    padding-top: 1em;
    margin-bottom: -2em;
}

.footerItems{
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin-left: 20vw;
    justify-content: space-between;
}

.footerItems a{
    color: #4E2A09;
    text-decoration: none;
    margin-top: 0.5em;
}

.madeWithLove h1{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-top: 1em;
    margin-bottom: -0.4em;
}

.madeWithLove a{
    color: #ffeddc;
}

.copyright{
    padding-bottom: 1em;
}

@media only screen and (min-width: 1200px) {
    .footerItems{
        width: 45vw;
        margin-left: 27.5vw;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .footerItems{
        width: 65vw;
        margin-left: 18vw;
    }
}